<configuration>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="ERROR"/>
    <logger name="org.hibernate.transaction" level="ERROR"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="ERROR"/>
    <logger name="org.hibernate.engine.internal.Cascade" level="ERROR"/>


    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>
